* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 200ms ease-out;
  scroll-behavior: smooth; }

body {
  min-width: 320px; }

a {
  text-decoration: none;
  color: #A5A5A5; }

.navBar {
  width: 100%;
  padding: 0.75em;
  box-shadow: 0px 3px 6px 0px #0000004A; }
  .navBar__scrollBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.3em;
    background: red;
    z-index: 9999; }
  .navBar__title {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Raleway';
    color: #08A6E4;
    font-weight: 300; }
  .navBar__icon {
    position: absolute;
    top: 0.6em;
    right: 1.62em;
    width: 1.25em;
    padding-top: 0.62em;
    cursor: pointer; }
    .navBar__icon--disabled {
      display: none; }
  .navBar__iconClose {
    display: none;
    position: absolute;
    top: 0.6em;
    right: 1.62em;
    width: 1.25em;
    padding-top: 0.62em;
    cursor: pointer; }
    .navBar__iconClose--enabled {
      display: block; }
  .navBar__menu {
    display: none; }
    .navBar__menu--mobile {
      display: block;
      padding-bottom: 2em; }
    .navBar__menu__options {
      display: none;
      padding-right: 8em;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 0.68em;
      letter-spacing: 0.40em;
      color: #A5A5A5; }
      .navBar__menu__options--mobile {
        display: block;
        margin-left: 2em;
        margin-top: 2em; }

.openingSection {
  font-family: 'Raleway';
  text-align: center;
  font-weight: 400;
  font-size: 2.18em;
  margin-top: 2.8em; }
  .openingSection__text {
    font-family: 'Open Sans';
    font-size: 0.5em;
    padding: 1.16em; }
  .openingSection__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1em; }
  .openingSection__button {
    background: #08A6E4;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    border: solid 1px #08A6E4;
    border-radius: 3em;
    box-shadow: 5px 10px 14px 0px #07ACE64A;
    padding-left: 6.25em;
    padding-right: 6.25em; }
  .openingSection__laptopDesktop {
    display: block;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    transform: scale(1.6); }
  .openingSection__popUp {
    display: none;
    position: fixed;
    top: 6em;
    margin: auto;
    max-width: 12em;
    background: #08A6E4;
    z-index: 9999;
    border-radius: 1em; }
    .openingSection__popUp--enabled {
      display: block; }
    .openingSection__popUp__title {
      font-size: 0.8em;
      color: white;
      font-family: 'Open Sans';
      font-weight: 400;
      padding-bottom: 1em;
      width: 85%;
      margin: auto; }
    .openingSection__popUp__closeIcon {
      position: absolute;
      top: 6%;
      right: 7%;
      cursor: pointer; }
    .openingSection__popUp__text {
      font-size: 0.4em;
      font-weight: 500;
      color: white;
      padding-left: 1.5em;
      padding-right: 1.5em; }
    .openingSection__popUp__mailInput {
      border: 1px solid #08A6E4;
      border-radius: 1em;
      margin-bottom: 1em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-weight: 700; }
      .openingSection__popUp__mailInput--error {
        border: 1px solid red; }
    .openingSection__popUp__submitInput {
      display: block;
      margin: auto;
      margin-bottom: 1em;
      padding: 0.5em;
      border-radius: 1em;
      border: 1px solid #08A6E4;
      background: white;
      color: #08A6E4;
      cursor: pointer;
      font-weight: 700; }
  .openingSection__popUpContainer {
    display: flex;
    justify-content: center;
    width: 100%; }

.secondSection {
  text-align: center; }
  .secondSection__title {
    font-family: 'Raleway';
    font-size: 1.8em;
    font-weight: 300;
    padding-left: 2.16em;
    padding-right: 2.16em; }
  .secondSection__display__box {
    font-family: 'Raleway';
    text-align: center;
    padding-top: 2em; }
    .secondSection__display__box__ellipse {
      position: relative; }
    .secondSection__display__box__icon {
      position: absolute;
      left: 50%; }
    .secondSection__display__box__icon2 {
      margin-top: 0.65em;
      left: 46%; }
    .secondSection__display__box__icon3 {
      margin-top: 0.40em; }
    .secondSection__display__box__title {
      font-family: 'Raleway';
      font-weight: 800;
      font-size: 1.25em;
      letter-spacing: 0.29em;
      padding-top: 0.5em; }
    .secondSection__display__box__subtitle {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 1em;
      color: #A5A5A5;
      margin-top: 0.88em; }

.thirdSection {
  background: #F7F7F7;
  margin-top: 2.81em;
  padding-top: 0.31em;
  padding-bottom: 3.12em; }
  .thirdSection__container {
    text-align: center;
    margin: 10%;
    border: 1px solid #E8E9ED;
    border-radius: 0.3em;
    background: white; }
    .thirdSection__container--2 {
      padding-top: 0.6em; }
    .thirdSection__container--3 {
      margin-bottom: 0; }
    .thirdSection__container__box--mod {
      padding-left: 2.5em; }
    .thirdSection__container__box--desktop {
      margin-top: 1.87em; }
    .thirdSection__container__box__ellipse1 {
      position: absolute;
      left: 52%; }
    .thirdSection__container__box__ellipse2 {
      display: none;
      position: absolute;
      width: 45%;
      max-width: 30em;
      margin-top: 3.13em;
      margin-left: 1.9em;
      padding-bottom: 5.63em; }
    .thirdSection__container__box__ellipse3 {
      position: absolute;
      width: 8em;
      height: 8em; }
    .thirdSection__container__box__ellipse4 {
      position: absolute;
      width: 22%;
      height: auto;
      max-width: 14em; }
    .thirdSection__container__box__pc2 {
      position: relative;
      width: 14em;
      padding-top: 2em; }
    .thirdSection__container__box__iphone {
      position: relative;
      width: 11em; }
    .thirdSection__container__object {
      padding-top: 4em; }
      .thirdSection__container__object--2 {
        padding-top: 2em; }
      .thirdSection__container__object__title {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 1.87em;
        text-align: left;
        padding-left: 0.7em; }
        .thirdSection__container__object__title--last {
          margin-top: 1em; }
        .thirdSection__container__object__title--mod {
          width: 66%; }
        .thirdSection__container__object__title--mod2 {
          width: 72%; }
      .thirdSection__container__object__text {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 0.87em;
        text-align: left;
        padding-top: 1.87em;
        padding-left: 1.25em;
        padding-bottom: 1.87em; }
        .thirdSection__container__object__text--last {
          font-size: 1em;
          padding-top: 1.87em; }
        .thirdSection__container__object__text--mod2 {
          width: 77%; }
      .thirdSection__container__object__separator {
        display: none;
        background: #FB3B64;
        padding: 0.06em;
        margin-left: 2em;
        border-style: none;
        width: 20em; }
        .thirdSection__container__object__separator--blue {
          background: #08A6E4;
          width: 20em; }
      .thirdSection__container__object__separator2 {
        width: 62%;
        background: #55DFB4;
        padding: 1px;
        border-style: none;
        margin-bottom: 3.12em;
        margin-left: 1.4em; }
      .thirdSection__container__object--mod {
        margin-top: 3.4em;
        width: 47%; }
  .thirdSection__containerMobile {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1.87em;
    border: 1px solid #E8E9ED;
    border-radius: 0.3em;
    background: white; }
  .thirdSection__containerDesktop {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1.87em;
    border: 1px solid #E8E9ED;
    border-radius: 0.3em;
    background: white;
    display: none; }
  .thirdSection__containerMobile2 {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1.87em;
    border: 1px solid #E8E9ED;
    border-radius: 0.3em;
    background: white; }
  .thirdSection__containerDesktop2 {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1.87em;
    margin-bottom: 2.5em;
    border: 1px solid #E8E9ED;
    border-radius: 0.3em;
    background: white;
    display: none; }
    .thirdSection__containerDesktop2__leftBox {
      background: #fff;
      width: 60%;
      border-radius: 0.3em;
      border: 1px solid #E8E9ED; }
    .thirdSection__containerDesktop2__rightBox {
      background: #55DFB4;
      width: 34%;
      border-radius: 0.3em;
      border: 1px solid #E8E9ED; }
      .thirdSection__containerDesktop2__rightBox__trumpet {
        display: none;
        width: 90%;
        margin-top: 5em; }
  .thirdSection__containerGreen {
    width: 80%;
    margin: auto;
    background: #55DFB4;
    text-align: center;
    border: 1px solid #55DFB4;
    border-radius: 0.5em; }
    .thirdSection__containerGreen__trumpet {
      position: relative;
      top: 1.87em;
      right: 0.93em; }

.fourthSection {
  text-align: center; }
  .fourthSection__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.25em;
    text-align: center;
    margin-top: 1.66em;
    padding-bottom: 0.5em; }
  .fourthSection__selector {
    border-radius: 1em; }
  .fourthSection__content {
    padding: 2.87em;
    padding-top: 2.2em; }
    .fourthSection__content__box {
      border: 1px solid #FB3B64;
      border-radius: 1em;
      margin: 1.25em auto 3.12em auto;
      text-align: center;
      max-width: 24em; }
      .fourthSection__content__box--blue {
        border: 1px solid #07ACE6; }
      .fourthSection__content__box--green {
        border: 1px solid #55DFB4;
        max-width: 23em; }
      .fourthSection__content__box__pricing {
        display: inline-block;
        position: relative;
        bottom: 3em;
        left: 10%; }
        .fourthSection__content__box__pricing--2 {
          left: 5%;
          bottom: 1.6em; }
        .fourthSection__content__box__pricing__plan {
          font-family: 'Raleway';
          font-weight: 700;
          font-size: 1.25em; }
        .fourthSection__content__box__pricing__price {
          font-family: 'Open Sans';
          font-weight: 300;
          font-size: 2.87em;
          color: #FB3B64; }
          .fourthSection__content__box__pricing__price--2 {
            color: #07ACE6; }
          .fourthSection__content__box__pricing__price--3 {
            color: #55DFB4; }
        .fourthSection__content__box__pricing__offer {
          font-family: 'Raleway';
          font-size: 0.75em;
          font-weight: 700; }
      .fourthSection__content__box__features {
        display: inline-block;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 0.87em;
        line-height: 2.5em;
        text-align: left;
        padding-top: 1.87em;
        padding-left: 5em; }
        .fourthSection__content__box__features--2 {
          padding-left: 2em; }
        .fourthSection__content__box__features__list__item {
          display: inline-block;
          padding-left: 1em; }
        .fourthSection__content__box__features__list__item2 {
          display: inline-block; }
      .fourthSection__content__box__button {
        color: white;
        background: #EB476E;
        border: 1px solid #EB476E;
        border-radius: 1.43em;
        padding-left: 3.12em;
        padding-right: 3.12em;
        padding-bottom: 0.93em;
        padding-top: 0.93em;
        transform: translateY(50%); }
        .fourthSection__content__box__button--2 {
          background: #07ACE6;
          border: 1px solid #07ACE6;
          transform: translateY(50%); }
        .fourthSection__content__box__button--3 {
          background: #55DFB4;
          border: 1px solid #55DFB4;
          transform: translateY(50%); }

.contactSection {
  margin-left: 2.2em; }
  .contactSection__questions__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.5em; }
  .contactSection__questions__subTitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1em; }
  .contactSection__questions__userInfo {
    width: 55%;
    max-width: 19em;
    margin-top: 1.87em;
    margin-bottom: 2.5em; }
    .contactSection__questions__userInfo__icon {
      display: inline-block;
      vertical-align: middle; }
    .contactSection__questions__userInfo__data {
      display: inline-block;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 1em;
      color: #A5A5A5;
      margin-bottom: 0.6em;
      width: 80%; }
  .contactSection__consenting {
    width: 100%;
    padding-bottom: 4em; }
    .contactSection__consenting__contactData {
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 0.7em;
      letter-spacing: 0.20em;
      color: #08A6E4; }
      .contactSection__consenting__contactData__form__text {
        display: block; }
        .contactSection__consenting__contactData__form__text__info {
          max-width: 20em; }
      .contactSection__consenting__contactData__form__input {
        border: 1px solid #95989A;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        width: 90%;
        margin-bottom: 1.87em;
        padding-top: 1.25em; }
        .contactSection__consenting__contactData__form__input--error {
          border: 1px solid red;
          border-top: 0;
          border-left: 0;
          border-right: 0; }
      .contactSection__consenting__contactData__form__info {
        display: inline-block;
        font-family: 'Open Sans';
        color: #707070;
        letter-spacing: 0; }
      .contactSection__consenting__contactData__form__checkbox {
        vertical-align: top;
        margin-right: 0.5em;
        margin-top: 0.3em;
        cursor: pointer;
        border: 1px solid black; }
        .contactSection__consenting__contactData__form__checkbox--error {
          border: 0;
          outline: 1px solid red; }
      .contactSection__consenting__contactData__form__submitButton {
        background: #08A6E4;
        color: white;
        font-family: 'Open Sans';
        font-weight: bold;
        margin-left: 8em;
        margin-top: 1.87em;
        padding-bottom: 1.25em;
        padding-top: 1.25em;
        padding-right: 6em;
        padding-left: 6em;
        border: solid 1px #08A6E4;
        border-radius: 1.87em;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        cursor: pointer; }
    .contactSection__consenting__returnToTopButton {
      position: relative;
      top: 4em;
      left: 17em;
      background: #08A6E4;
      color: white;
      border-radius: 50%;
      padding-bottom: 2em;
      padding-top: 2em;
      font-family: 'Raleway';
      padding-left: 0.5em;
      padding-right: 0.5em;
      cursor: pointer; }

.footerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  width: 100%;
  padding: 0.75em;
  margin-top: 2.18em;
  box-shadow: 0px -5px 40px 0px #00000033; }
  .footerBar__text {
    display: inline-block;
    width: 60%;
    margin-bottom: 0.3em; }
    .footerBar__text__title {
      display: inline-block;
      font-size: 1.62em;
      font-family: 'Raleway';
      margin-left: 0.25em;
      color: #08A6E4;
      font-weight: 300; }
    .footerBar__text__copyright {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 0.7em;
      color: #A5A5A5;
      margin-left: 0.8em; }
  .footerBar__socialMedia {
    float: right;
    margin-right: 1.87em;
    margin-top: 0.62em; }
    .footerBar__socialMedia__facebook {
      margin-left: 0.93em; }

@media only screen and (min-width: 1000px) {
  /* NAV-BAR */
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navBar__icon {
      display: none; }
    .navBar__iconClose {
      display: none; }
    .navBar__title {
      padding-left: 3em; }
    .navBar__menu {
      display: flex; }
      .navBar__menu--mobile {
        display: flex;
        padding-bottom: 0; }
      .navBar__menu__options {
        display: block; }
        .navBar__menu__options--mobile {
          display: flex;
          margin-left: 0;
          margin-top: 0; }
      .navBar__menu__options:hover {
        z-index: 3;
        text-decoration: underline 3px solid #08A6E4;
        text-underline-offset: 24px; }

  /* HEADER */
  .openingSection__text {
    font-size: 0.5em; }
  .openingSection__title {
    font-size: 1.4em; }
  .openingSection__button {
    padding-right: 10.75em;
    padding-left: 10.75em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    cursor: pointer; }
  .openingSection__laptopDesktop {
    display: block;
    width: 100%;
    transform: none; }
  .openingSection__popUp {
    display: none;
    margin-right: 0;
    padding-top: 0.5em;
    border-radius: 0.2em; }
    .openingSection__popUp--enabled {
      display: block; }
    .openingSection__popUp__text {
      padding-bottom: 1em; }
    .openingSection__popUp__mailInput {
      padding: 1em;
      border-radius: 0.5em; }
      .openingSection__popUp__mailInput--error {
        border: 2px solid red; }
    .openingSection__popUp__submitInput {
      display: inline;
      padding: 1em;
      border-radius: 0.5em; }

  /* SECOND SECTION */
  .secondSection {
    padding-bottom: 4em; }
    .secondSection__title {
      font-size: 2.25em;
      padding-top: 0.8em;
      width: 100%; }
    .secondSection__display {
      display: flex;
      justify-content: space-evenly;
      padding-top: 3.75em; }
      .secondSection__display__box__icon {
        left: inherit;
        transform: translateX(-65%); }
      .secondSection__display__box__icon2 {
        transform: translateX(-65%) translateY(8%); }
      .secondSection__display__box__icon3 {
        transform: translateX(-55%); }

  /* THIRD SECTION */
  .thirdSection__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    min-height: 21em;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: 10%;
    margin-left: 10%; }
    .thirdSection__container--2 {
      flex-direction: row;
      margin-top: 0;
      margin-bottom: 0; }
    .thirdSection__container--3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      padding-bottom: 2em;
      margin-top: 5em;
      margin-bottom: 5em;
      margin-right: 4em; }
    .thirdSection__container__object {
      margin-top: 3.43em;
      margin-bottom: 4.43em;
      padding-top: 1em; }
      .thirdSection__container__object--2 {
        padding-top: 2em; }
      .thirdSection__container__object__title {
        font-size: 2.25em;
        padding-left: 0.9em; }
        .thirdSection__container__object__title--mod2 {
          margin-left: 0.7em;
          margin-top: 1.39em; }
        .thirdSection__container__object__title--last {
          width: 58%; }
      .thirdSection__container__object__text {
        font-size: 0.87em;
        padding-left: 2.4em;
        padding-right: 1em;
        width: 88%; }
        .thirdSection__container__object__text--2 {
          width: 78%; }
        .thirdSection__container__object__text--last {
          width: 60%; }
      .thirdSection__container__object__separator {
        display: block; }
        .thirdSection__container__object__separator--2 {
          background: #08A6E4; }
        .thirdSection__container__object__separator--3 {
          background: #08A6E4; }
    .thirdSection__container__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-right: 4.3em; }
      .thirdSection__container__box__pc2 {
        display: block;
        width: 23em; }
      .thirdSection__container__box__ellipse1 {
        display: none; }
      .thirdSection__container__box__ellipse2 {
        display: block;
        margin-bottom: 4em;
        padding-left: 19em; }
      .thirdSection__container__box__ellipse3 {
        position: absolute;
        width: 15em;
        height: 22em; }
      .thirdSection__container__box__iphone {
        position: relative;
        width: 19em;
        left: 24%; }
      .thirdSection__container__box--mod {
        padding-left: 0em; }
  .thirdSection__containerDiv {
    display: flex; }
  .thirdSection__containerGreen {
    margin-top: 5em;
    margin-right: 10%;
    width: 50%;
    margin-bottom: 5em; }
    .thirdSection__containerGreen__trumpet {
      top: 6.87em; }

  /* FOURTH SECTION */
  .fourthSection {
    padding-top: 4em; }
    .fourthSection__content {
      display: flex;
      padding: 4.37em;
      gap: 3.25em;
      justify-content: center; }
      .fourthSection__content__box:hover {
        border: 1px solid #FB3B64;
        box-shadow: 5px 10px 27px 0px #fb3b64;
        transition: all 200ms ease-in 200ms;
        transform: scale(1.2); }
      .fourthSection__content__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.25em 3.62em 3.12em;
        margin: 0;
        width: 32%;
        max-width: 27em; }
        .fourthSection__content__box--blue:hover {
          border: 1px solid #07ACE6;
          box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
          transition: all 200ms ease-in 200ms;
          transform: scale(1.2); }
        .fourthSection__content__box--green:hover {
          border: 1px solid #55DFB4;
          box-shadow: 5px 10px 27px 0px #55dfb4;
          transition: all 200ms ease-in 200ms;
          transform: scale(1.2); }
        .fourthSection__content__box__button {
          position: relative;
          top: 4.3em;
          cursor: pointer; }
          .fourthSection__content__box__button--2 {
            top: 3.8em; }
          .fourthSection__content__box__button--3 {
            top: 3.8em; }
        .fourthSection__content__box__pricing {
          bottom: 0;
          left: 0; }
        .fourthSection__content__box__features {
          padding-left: 0em; }
          .fourthSection__content__box__features__list {
            padding-bottom: 0.5em; }
            .fourthSection__content__box__features__list__item {
              padding-left: 0; }
        .fourthSection__content__box--2 {
          padding-left: 0em; }

  /* SLIDER SECTION */
  .slider {
    max-width: 40em; }
    .slider__arrowContainer {
      max-width: 40em; }
      .slider__arrowContainer__image {
        width: 6%;
        max-width: 6%; }

  /* CONTACT SECTION */
  .contactSection {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 5em; }
    .contactSection__questions {
      width: inherit;
      padding-right: 5em; }
    .contactSection__consenting {
      width: 40%;
      max-width: 31em; }
      .contactSection__consenting__text__returnToTopButton {
        left: 29em; }
    .contactSection__text__button {
      cursor: pointer; } }
.slider {
  width: 80%;
  background: white;
  margin: 0 auto;
  margin-bottom: 4em;
  border: 4px solid #08A6E4;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .slider--enabled {
    display: flex; }
  .slider__image {
    display: none;
    width: 100%;
    height: 38em;
    aspect-ratio: 16/9;
    object-fit: cover; }
    .slider__image--enabled {
      display: block;
      width: 100%; }
  .slider__arrowContainer {
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .slider__arrowContainer__prevImage {
      width: 10%;
      max-width: 10%;
      cursor: pointer; }
    .slider__arrowContainer__nextImage {
      width: 10%;
      max-width: 10%;
      cursor: pointer; }
  .slider__dot {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    transform: translateY(-88px); }
    .slider__dot--enabled {
      display: flex; }
    .slider__dot__button {
      display: flex;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: darkgray;
      cursor: pointer; }
      .slider__dot__button--enabled {
        background: #08A6E4; }

/*# sourceMappingURL=style.css.map */
