.contactSection {
    margin-left: 2.2em;
    &__questions {
        width: 84%;
        margin-right: 2em;
        &__text {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 2.5em;
        }
        &__subTitle {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 1em;
        }
        &__userInfo {
            width: 55%;
            max-width: 19em;
            margin-top: 1.87em;
            margin-bottom: 2.5em;
            &__icon {
                display: inline-block;
                vertical-align: middle;
            }
            &__data {
                display: inline-block;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 1em;
                color: #A5A5A5;
                margin-bottom: 0.6em;
                width: 80%;
            }
        }
    }
    &__consenting {
        &__contactData {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 0.7em;
            letter-spacing: 0.20em;
            color: #08A6E4;
            &__input {
                border: 1px solid #95989A;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                width: 90%;
                margin-bottom: 1.87em;
                padding-top: 1.25em;
            }
        }
        &__text {
            &__checkbox {
                vertical-align: top;
                margin-right: 0.5em;
            }
            &__form {
                display: inline-block;
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 0.75em;
                color: #707070;
            }
            &__button {
                background: #08A6E4;
                color: white;
                font-family: 'Open Sans';
                font-weight: bold;
                margin-left: 8em;
                margin-top: 1.87em;
                padding-bottom: 1.25em;
                padding-top: 1.25em;
                padding-right: 6em;
                padding-left: 6em;
                border: solid 1px #08A6E4;
                border-radius: 1.87em;
                box-shadow: 5px 10px 14px 0px #07ACE64A;
            }
        }
    }
}
.consenting {
    width: 100%;
}