.openingSection {
    font-family: 'Raleway';
    text-align: center;
    font-weight: 400;
    font-size: 2.18em;
    margin-top: 2.8em;
    &__text {
        font-family: 'Open Sans';
        font-size: 0.5em;
        padding-top: 1.16em;
        padding-bottom: 1.16em;
        margin: auto;
        width: 69%;
    }
    &__button {
        background: #08A6E4;
        color: white;
        font-family: 'Open Sans';
        font-weight: bold;
        padding-top: 1.75em;
        padding-bottom: 1.75em;
        border: solid 1px #08A6E4;
        border-radius: 3em;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        padding-left: 6.25em;
        padding-right: 6.25em;
    }
    &__laptopDesktop {
        display: none;
    }
    &__laptopMobile {
        width: 100%;
        max-width: 412px;
        padding-top: 2.3em;
    }
}




