.openingSection {
    font-family: 'Raleway';
    text-align: center;
    font-weight: 400;
    font-size: 2.18em;
    margin-top: 2.8em;
    &__text {
        font-family: 'Open Sans';
        font-size: 0.5em;
        padding: 1.16em;
    }
    &__title {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 1em;
    }
    &__button {
        background: #08A6E4;
        color: white;
        font-family: 'Open Sans';
        font-weight: bold;
        padding-top: 1.75em;
        padding-bottom: 1.75em;
        border: solid 1px #08A6E4;
        border-radius: 3em;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        padding-left: 6.25em;
        padding-right: 6.25em;
    }
    &__laptopDesktop {
        display: block;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        transform: scale(1.6);
    }
    &__popUp {
        display: none;
        position: fixed;
        top: 6em;
        margin: auto;
        max-width: 12em;
        background: #08A6E4;
        z-index: 9999;
        border-radius: 1em;
        &--enabled {
            display: block;
        }
        &__title {
            font-size: 0.8em;
            color: white;
            font-family: 'Open Sans';
            font-weight: 400;
            padding-bottom: 1em;
            width: 85%;
            margin: auto;
        }
        &__closeIcon {
            position: absolute;
            top: 6%;
            right: 7%;
            cursor: pointer;
        }
        &__text {
            font-size: 0.4em;
            font-weight: 500;
            color: white;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
        &__mailInput {
            &--error {
                border: 1px solid red;
            }
            border: 1px solid #08A6E4;
            border-radius: 1em;
            margin-bottom: 1em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            font-weight: 700;
        }
        &__submitInput {
            display: block;
            margin: auto;
            margin-bottom: 1em;
            padding: 0.5em;
            border-radius: 1em;
            border: 1px solid #08A6E4;
            background: white;
            color: #08A6E4;
            cursor: pointer;
            font-weight: 700;
        }

    }
    &__popUpContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}




