@media only screen and (min-width: 1000px) {

/* NAV-BAR */
.navBar {
    display: flex;
    &__icon {
        display: none;
    }
    &__title {
        padding-left: 3em;
    }
    &__desktopMenu {
        display: flex;
        align-self: flex-end;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 0;
        &__options {
            display: block;
        }
    }
}

/* HEADER */ 
.openingSection {
    font-size: 3em;
    &__text {
        font-size: 0.35em;
        width: 100%;
    }
    &__button {
        padding-right: 10.75em;
        padding-left: 10.75em;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        cursor: pointer;
    }
    &__laptopMobile {
        display: none;
    }
    &__laptopDesktop {
        display: block;
        width: 100%;
    }
}

/* SECOND SECTION */
.secondSection {
    padding-bottom: 4em;
    &__title {
        font-size: 2.25em;
        padding-top: 0.8em;
        width: 100%;
    }
    &__display {
        display: flex;
        justify-content: space-around;
        margin-top: 3.75em;
        &__box {
            &__icon {
                left: 17%;
            }
            &__icon2 {
                left: 49.8%;
            }
            &__icon3 {
                left: 84%;
            }
        }
    }
}

/* THIRD SECTION */
.thirdSection {
    &__container {
        margin-top: 5em;
        display: flex;
        flex-direction: row-reverse;
        max-width: 51em;
        &__object {
            margin-top: 3.43em;
            margin-bottom: 4.43em;
            padding-left: 1.25em;
            width: 50%;
            &__title {
                font-size: 2.25em;
                margin-left: 0;
                &--mod2 {
                    margin-left: 0.7em;
                    margin-top: 1.39em;
                }
            }
            &__text {
                font-size: 0.87em;
                margin-left: 0;
                &--mod2 {
                    margin-left: 1.7em;
                }
            }
            &__separator {
                display: block;
                &--blue {
                    background: #08A6E4;
                }
            }
        }
        &__box {
            &__pc1 {
                display: none;
            }
            &__pc2 {
                display: block;
                left: 12%;
            }
            &__ellipse1 {
                display: none;
            }
            &__ellipse2 {
                display: block;
                max-width: 30em;
            }
            &--mod {
                width: 47%;
            }
        }
    }
    &__containerMobile {
        display: none;
    }
    &__containerDesktop {
        display: flex;
        max-width: 51em;
    }
    &__containerMobile2 {
        display: none;
    }
    &__containerDesktop2 {
        display: flex;
        justify-content: space-between;
        background: #F7F7F7;
        border-style: none;
        max-width: 51em;
        &__rightBox {
            &__trumpet{
                display: block; 
            }
        }
    }
    &__containerGreen {
        display: none;
        &__trumpet {
            display: none;
        }
    }
}

/* FOURTH SECTION */
.fourthSection {
    display: none;
}

.fourthSectionDesktop {
    display: block;
    &__content {
        display: flex;
        margin-top: 2.5em;
        &__box {
            min-width: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__pricing {
                margin-top: 1.87em;
                position: static;
            }
            &__features {
                padding-left: 0;
                margin: auto;
            }
        }
    }
    &__button {
        &--blue:hover {
            border: 1px solid #07ACE6;
            box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
            transition: all 200ms ease-in 200ms;
            transform: scale(1.2);
        }
    }
}

/* CONTACT SECTION */
.contactSection {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    margin-top: 5em;
    &__questions {
        width: 40%;
        &__userInfo {
            width: 56%;
            &__data {
                width: 86%;
            }
        }
    }
    &__consenting {
        width: 40%;
    }
}
}