@media only screen and (min-width: 1000px) {

/* NAV-BAR */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__icon {
        display: none;
    }
    &__iconClose {
        display: none;
    }
    &__title {
        padding-left: 3em;
    }
    &__menu {
        display: flex;
        &--mobile {
            display: flex;
            padding-bottom: 0;
        }
        &__options {
            display: block;
            &--mobile {
                display: flex;
                margin-left: 0;
                margin-top: 0;
            }
        }
        &__options:hover {
            z-index: 3;
            text-decoration: underline 3px solid #08A6E4;
            text-underline-offset: 24px;
        }
    }
}

/* HEADER */ 
.openingSection {
    &__text {
        font-size: 0.5em;
    }
    &__title {
        font-size: 1.4em;
    }
    &__button {
        padding-right: 10.75em;
        padding-left: 10.75em;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        cursor: pointer;
    }
    &__laptopDesktop {
        display: block;
        width: 100%;
        transform: none;
    }
    &__popUp {
        display: none;
        margin-right: 0;
        padding-top: 0.5em;
        border-radius: 0.2em;
        &--enabled {
            display: block;
        }
        &__text {
            padding-bottom: 1em;
        }
        &__mailInput {
            &--error {
                border: 2px solid red;
            }
            padding: 1em;
            border-radius: 0.5em;
        }
        &__submitInput {
            display: inline;
            padding: 1em;
            border-radius: 0.5em;
        }
    }
}

/* SECOND SECTION */
.secondSection {
    padding-bottom: 4em;
    &__title {
        font-size: 2.25em;
        padding-top: 0.8em;
        width: 100%;
    }
    &__display {
        display: flex;
        justify-content: space-evenly;
        padding-top: 3.75em;
        &__box {
            &__icon {
                left: inherit;
                transform: translateX(-65%);
            }
            &__icon2 {
                transform: translateX(-65%) translateY(8%);
            }
            &__icon3 {
                transform: translateX(-55%);
            }
        }
    }
}

/* THIRD SECTION */
.thirdSection {
    &__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        min-height: 21em;
        margin-top: 5em;
        margin-bottom: 5em;
        margin-right: 10%;
        margin-left: 10%;
        &--2 {
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 0;
        }
        &--3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            padding-bottom: 2em;
            margin-top: 5em;
            margin-bottom: 5em;
            margin-right: 4em;
        }
        &__object {
            margin-top: 3.43em;
            margin-bottom: 4.43em;
            padding-top: 1em;
            &--2 {
                padding-top: 2em;
            }
            &__title {
                font-size: 2.25em;
                padding-left: 0.9em;
                &--mod2 {
                    margin-left: 0.7em;
                    margin-top: 1.39em;
                }
                &--last {
                    width: 58%;
                }
            }
            &__text {
                font-size: 0.87em;
                padding-left: 2.4em;
                padding-right: 1em;
                width: 88%;
                &--2 {
                    width: 78%;
                }
                &--last {
                    width: 60%;
                }
            }
            &__separator {
                display: block;
                &--2 {
                    background: #08A6E4;
                }
                &--3 {
                    background: #08A6E4;
                }
            }
        }
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 4.3em;
            &__pc2 {
                display: block;
                width: 23em;
            }
            &__ellipse1 {
                display: none;
            }
            &__ellipse2 {
                display: block;
                margin-bottom: 4em;
                padding-left: 19em;
            }
            &__ellipse3 {
                position: absolute;
                width: 15em;
                height: 22em;
            }
            &__iphone {
                position: relative;
                width: 19em;
                left: 24%;
            }
            &--mod {
               padding-left: 0em;
            }
        }
    }
    &__containerDiv {
        display: flex;
    }
    &__containerGreen {
        margin-top: 5em;
        margin-right: 10%;
        width: 50%;
        margin-bottom: 5em;
        &__trumpet {
            top: 6.87em;
        }
        
    }


}

/* FOURTH SECTION */
.fourthSection {
    padding-top: 4em;
    &__content {
        display: flex;
        padding: 4.37em;
        gap: 3.25em;
        justify-content: center;
        &__box:hover {
            border: 1px solid #FB3B64;
            box-shadow: 5px 10px 27px 0px rgba(251, 59, 100, 1);
            transition: all 200ms ease-in 200ms;
            transform: scale(1.2); }
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.25em 3.62em 3.12em;
            margin: 0;
            width: 32%;
            max-width: 27em;
            &--blue:hover {
                    border: 1px solid #07ACE6;
                    box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
                    transition: all 200ms ease-in 200ms;
                    transform: scale(1.2); }
            &--green:hover {
                    border: 1px solid #55DFB4;
                    box-shadow: 5px 10px 27px 0px rgba(85, 223, 180, 1);
                    transition: all 200ms ease-in 200ms;
                    transform: scale(1.2); }
            &__button {
                position: relative;
                top: 4.3em;
                cursor: pointer;
                &--2 {
                    top: 3.8em;
                }
                &--3 {
                    top: 3.8em;
                }
            }
            &__pricing {
                bottom: 0;
                left: 0;
            }
            &__features {
                padding-left: 0em;
                &__list {
                    padding-bottom: 0.5em;
                    &__item {
                        padding-left: 0;
                    }
                }
                }
                &--2 {
                    padding-left: 0em;
                }
            }
        }
    }
/* SLIDER SECTION */
.slider {
    max-width: 40em;
    &__arrowContainer {
        max-width: 40em;
        &__image {
            width: 6%;
            max-width: 6%;
        }
    }
}





















/* CONTACT SECTION */
.contactSection {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 5em;
    &__questions {
        width: inherit;
        padding-right: 5em;
    }
    &__consenting {
        width: 40%;
        max-width: 31em;
        &__text {
            &__returnToTopButton {
                left: 29em;
            }
        }
        }
        &__text {
            &__button {
                cursor: pointer;
            }
            
        }
    }
}




