.navBar {
    width: 100%;
    padding: 0.75em;
    box-shadow: 0px 3px 6px 0px #0000004A;
    &__scrollBar {
        position: fixed;
        top: 0;
        left: 0;
        height: 0.3em;
        background: red;
        z-index: 9999;
    }
    &__title {
        display: inline-block;
        font-size: 2rem;
        font-family: 'Raleway';
        color: #08A6E4;
        font-weight: 300;
    }
    &__icon {
        position: absolute;
        top: 0.6em;
        right: 1.62em;
        width: 1.25em;
        padding-top: 0.62em;
        cursor: pointer;
        &--disabled {
            display: none;
        }
    }
    &__iconClose {
        display: none;
        position: absolute;
        top: 0.6em;
        right: 1.62em;
        width: 1.25em;
        padding-top: 0.62em;
        cursor: pointer;
        &--enabled {
            display: block;
        }
    }
    &__menu {
        display: none;
        &--mobile {
            display: block;
            padding-bottom: 2em;
        }
        &__options {
            &--mobile {
                display: block;
                margin-left: 2em;
                margin-top: 2em;
            }
            display: none;
            padding-right: 8em;
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 0.68em;
            letter-spacing: 0.40em;
            color: #A5A5A5;
        }
    }
}

    





