.secondSection {
    text-align: center;
    &__title {
        font-family: 'Raleway';
        font-size: 1.8em;
        font-weight: 300;
        padding-left: 2.16em;
        padding-right: 2.16em;
    }
    &__display {
        &__box {
            font-family: 'Raleway';
            text-align: center;
            padding-top: 2em;
            &__ellipse {
                position: relative;
            }
            &__icon {
                position: absolute;
                left: 50%;
            }
            &__icon2 {
                margin-top: 0.65em;
                left: 46%;
            }
            &__icon3 {
                margin-top: 0.40em;
            }
            &__title {
                font-family: 'Raleway';
                font-weight: 800;
                font-size: 1.25em;
                letter-spacing: 0.29em;
                padding-top: 0.5em;
            }
            &__subtitle {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 1em;
                color: #A5A5A5;
                margin-top: 0.88em;
            }
        }
    }
}