* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.laptop {
  width: 100%; }

body {
  min-width: 320px; }

.navBar {
  font-size: 1em;
  width: 100%;
  padding: 0.75em;
  box-shadow: 0px 3px 6px 0px #0000004A; }

.navBar__title {
  display: inline-block;
  font-size: 2rem;
  font-family: 'Raleway';
  margin-left: 0.25em;
  color: #08A6E4;
  font-weight: 300; }

.navBar__icon {
  width: 1.25em;
  margin-left: 6.4em; }

/*@media screen and (max-width: 1000px) and (min-width: 320px) {
    header {
        background: red;
    }
    .header__title svg {
        display: inline-block;
        
    }

}
*/
.opening-section {
  font-family: 'Raleway';
  text-align: center;
  font-weight: 400;
  font-size: 2.18em;
  margin-top: 2.8em; }

.opening__section--text {
  font-family: 'Open Sans';
  font-size: 0.5em;
  padding-top: 1.16em;
  padding-bottom: 1.16em; }

.opening__section--button {
  background: #08A6E4;
  color: white;
  font-family: 'Open Sans';
  font-weight: bold;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  border: solid 1px #08A6E4;
  border-radius: 3em;
  box-shadow: 5px 10px 14px 0px #07ACE64A;
  padding-left: 6.25em;
  padding-right: 6.25em; }

#laptop {
  width: 100%;
  padding-top: 2.3em; }

.second__section--title {
  text-align: center;
  font-family: 'Raleway';
  font-size: 1.8em;
  padding-top: 0.16em; }

.second_section--box {
  font-family: 'Raleway';
  text-align: center;
  padding-top: 2em; }

.box__ellipse {
  position: relative; }

.box__icon {
  position: absolute;
  left: 50%; }

.box__icon--2 {
  margin-top: 0.65em;
  left: 46%; }

.box__icon--3 {
  margin-top: 0.40em; }

.box__title {
  font-weight: 800;
  font-size: 1.25em;
  letter-spacing: 0.29em;
  padding-top: 0.5em; }

.box__subtitle {
  font-weight: 400;
  font-size: 1em;
  color: #A5A5A5;
  margin-top: 0.88em; }

.third-section {
  background: #F7F7F7;
  margin-top: 2.81em;
  padding-top: 0.31em;
  padding-bottom: 3.12em; }

.third__section--container {
  text-align: center;
  margin-left: 1.87em;
  margin-right: 1.87em;
  margin-top: 1.87em;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background: white; }

.third-section__container--box {
  padding-bottom: 1.87em; }

.third-section__container--box--2 {
  padding-top: 0.62em;
  padding-bottom: 1.87em; }

.third__section__container--ellipse {
  position: absolute;
  margin-left: 5.62em; }

.third__section__container--img {
  position: relative;
  margin-top: 2.5em; }

.third__section__container--ellipse--2 {
  position: absolute;
  margin-left: 30px; }

.third__section__container--img--2 {
  position: relative;
  margin-top: 0;
  margin-left: 1.87em; }

.third__section__objectTitle {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.87em;
  text-align: left;
  margin-left: 0.7em; }

.third__section__objectText {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.87em;
  text-align: left;
  margin-top: 1.87em;
  margin-left: 1.25em;
  margin-bottom: 1.87em; }

.third__section__objectTitle--last {
  margin-top: 1em; }

.third__section__objectText--last {
  font-size: 1em;
  margin-top: 1.87em;
  margin-left: 1.25em;
  margin-bottom: 1.87em; }

.third__section--end {
  background: #55DFB4;
  margin-left: 1.87em;
  margin-right: 1.87em;
  text-align: center;
  border: 1px solid #55DFB4;
  border-radius: 0.5em; }

.third__section--img {
  position: relative;
  top: 1.87em;
  right: 0.93em; }

.fourthSection__title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1.66em; }

.fourthSection__box {
  width: 80%;
  border: 1px solid #FB3B64;
  border-radius: 1em;
  margin-left: 2.5em;
  margin-top: 1.25em;
  margin-bottom: 3.12em;
  text-align: center; }

.fourthSection__box--blue {
  border: 1px solid #07ACE6; }

.fourthSection__box--green {
  border: 1px solid #55DFB4; }

.fourthSection__box__pricing {
  display: inline-block;
  position: relative;
  bottom: 3em;
  left: 10%; }

.fourthSection__box__pricing--2 {
  left: 5%;
  bottom: 1.6em; }

.fourthSection__plan {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.25em; }

.fourthSection__price {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 2.87em;
  color: #FB3B64; }

.fourthSection__price--2 {
  color: #07ACE6; }

.fourthSection__price--3 {
  color: #55DFB4; }

.fourthSection__features {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.87em;
  line-height: 2.5em;
  text-align: left;
  padding-top: 1.87em;
  padding-left: 6em; }

.fourthSection__features--2 {
  padding-left: 4em; }

.offer {
  font-family: 'Raleway';
  font-size: 0.75em;
  font-weight: 700; }

.fourthSection__box__button {
  color: white;
  background: #EB476E;
  border: 1px solid #EB476E;
  border-radius: 23px;
  padding-left: 3.12em;
  padding-right: 3.12em;
  padding-bottom: 0.93em;
  padding-top: 0.93em;
  transform: translateY(50%); }

.fourthSection__box__button--2 {
  background: #07ACE6;
  border: 1px solid #07ACE6; }

.fourthSection__box__button--3 {
  background: #55DFB4;
  border: 1px solid #55DFB4; }

.contactSection {
  margin-left: 35px; }

.contactSection__questions {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 2.5em; }

.contactSection__subTitle {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1em; }

.contactSection__userInfo {
  margin-top: 1.87em;
  margin-bottom: 2.5em; }

.contactSection__userInfo__data {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1em;
  color: #A5A5A5;
  margin-bottom: 0.6em;
  width: 80%; }

.contactSection__userInfo__data__icon {
  display: inline-block;
  vertical-align: middle; }

.contact__text {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.20em;
  color: #08A6E4; }

.contact__text__input {
  border: 1px solid #95989A;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 90%;
  margin-bottom: 1.87em;
  padding-top: 1.25em; }

.contactSection__consent__text {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.75em;
  color: #707070; }

.contactSection__consent__checkbox {
  vertical-align: top;
  margin-right: 0.5em; }

.contactSection__consent__button {
  background: #08A6E4;
  color: white;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-left: 8em;
  margin-top: 1.87em;
  padding-bottom: 1.25em;
  padding-top: 1.25em;
  padding-right: 6em;
  padding-left: 6em;
  border: solid 1px #08A6E4;
  border-radius: 1.87em;
  box-shadow: 5px 10px 14px 0px #07ACE64A; }

.footerBar {
  font-size: 1em;
  width: 100%;
  padding: 0.75em;
  margin-top: 2.18em;
  box-shadow: 0px -5px 40px 0px #00000033; }

.footerBar__text {
  display: inline-block;
  width: 60%;
  margin-bottom: 0.3em; }

.footerBar__text__title {
  display: inline-block;
  font-size: 1.62em;
  font-family: 'Raleway';
  margin-left: 0.25em;
  color: #08A6E4;
  font-weight: 300; }

.footerBar__text__copyright {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.7em;
  color: #A5A5A5;
  margin-left: 0.8em; }

.footerBar__socialMedia {
  width: 30%;
  display: inline-block;
  margin-left: 1.87em; }

.footerBar__socialMedia__facebook {
  margin-left: 0.93em; }

/*# sourceMappingURL=style.css.map */
