* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

.navBar {
  font-size: 16px;
  width: 100%;
  padding: 0.75em;
  box-shadow: 0px 3px 6px 0px #0000004A; }

.nav__title {
  display: inline-block;
  font-size: 2rem;
  font-family: 'Raleway';
  margin-left: 0.25em;
  color: #08A6E4;
  font-weight: 300; }

.nav__icon {
  width: 1.25em;
  margin-left: 6.4em; }

/*@media screen and (max-width: 1000px) and (min-width: 320px) {
    header {
        background: red;
    }
    .header__title svg {
        display: inline-block;
        
    }

}
*/
.opening-section {
  font-family: 'Raleway';
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  margin-top: 2.8em; }

.opening__section--text {
  font-family: 'Open Sans';
  font-size: 16px;
  padding-top: 1.16em;
  padding-bottom: 1.16em; }

.opening__section--button {
  background: #08A6E4;
  color: white;
  font-family: 'Open Sans';
  font-weight: bold;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  padding-left: 1.16em;
  padding-right: 1.16em;
  border: solid 1px #08A6E4;
  border-radius: 30px;
  box-shadow: 5px 10px 14px 0px #07ACE64A;
  padding-left: 100px;
  padding-right: 100px; }

#laptop {
  width: 100%;
  padding-top: 2.3em; }

.second__section--title {
  text-align: center;
  font-family: 'Raleway';
  font-size: 30px;
  padding-top: 0.16em; }

.second_section--box {
  font-family: 'Raleway';
  text-align: center;
  padding-top: 2em; }

.box__ellipse {
  position: relative; }

.box__icon {
  position: absolute;
  left: 50%; }

.box__icon--2 {
  top: 61em;
  left: 11em; }

.box__icon--3 {
  top: 72.5em; }

.box__title {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.29em;
  padding-top: 0.5em; }

.box__subtitle {
  font-weight: 400;
  font-size: 17px;
  color: #A5A5A5;
  margin-top: 0.88em; }

.third-section {
  background: #F7F7F7;
  margin-top: 2.81em;
  padding-top: 5px;
  padding-bottom: 50px; }

.third__section--container {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background: white; }

.third-section__container--box {
  padding-bottom: 30px; }

.third-section__container--box--2 {
  padding-top: 10px;
  padding-bottom: 30px; }

.third__section__container--ellipse {
  position: absolute;
  margin-left: 90px; }

.third__section__container--img {
  position: relative;
  margin-top: 40px; }

.third__section__container--ellipse--2 {
  position: absolute;
  margin-left: 30px; }

.third__section__container--img--2 {
  position: relative;
  margin-top: 0;
  margin-left: 30px; }

.third__section__objectTitle {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  margin-left: 20px; }

.third__section__objectText {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px; }

.third__section__objectTitle--last {
  font-family: 'Raleway';
  font-weight: 400;
  text-align: left;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 25px; }

.third__section__objectText--last {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px; }

.third__section--end {
  background: #55DFB4;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  border: 1px solid #55DFB4;
  border-radius: 5px; }

.third__section--img {
  position: relative;
  top: 30px;
  right: 15px; }

.fourthSection__title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-top: 60px; }

.fourthSection__box {
  width: 80%;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center; }

.fourthSection__box--blue {
  border: 1px solid #07ACE6; }

.fourthSection__box--green {
  border: 1px solid #55DFB4; }

.fourthSection__box__pricing {
  display: inline-block;
  position: relative;
  bottom: 3em;
  left: 15%;
  text-align: center; }

.fourthSection__box__pricing--2 {
  left: 5%;
  bottom: 2.5em; }

.fourthSection__plan {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 20px; }

.fourthSection__price {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 46px;
  color: #FB3B64; }

.fourthSection__price--2 {
  color: #07ACE6; }

.fourthSection__price--3 {
  color: #55DFB4; }

.fourthSection__features {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 90px; }

.fourthSection__features--2 {
  padding-left: 30px; }

.offer {
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: 700; }

.fourthSection__box__button {
  color: white;
  background: #EB476E;
  border: 1px solid #EB476E;
  border-radius: 23px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  transform: translateY(50%); }

.fourthSection__box__button--2 {
  background: #07ACE6;
  border: 1px solid #07ACE6; }

.fourthSection__box__button--3 {
  background: #55DFB4;
  border: 1px solid #55DFB4; }

.contactSection {
  margin-left: 35px; }

.contactSection__questions {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 40px; }

.contactSection__subTitle {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px; }

.contactSection__userInfo {
  margin-top: 30px;
  margin-bottom: 40px; }

.contactSection__userInfo__data {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  color: #A5A5A5;
  margin-bottom: 10px;
  width: 80%; }

.contactSection__userInfo__data__icon {
  display: inline-block;
  vertical-align: middle; }

.contact__text {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 3.28px;
  color: #08A6E4; }

.contact__text__input {
  border: 1px solid #95989A;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 90%;
  margin-bottom: 30px;
  padding-top: 20px; }

.contactSection__consent__text {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: #707070; }

.contactSection__consent__checkbox {
  vertical-align: top;
  margin-right: 8px; }

.contactSection__consent__button {
  background: #08A6E4;
  color: white;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-left: 120px;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 80px;
  padding-left: 80px;
  border: solid 1px #08A6E4;
  border-radius: 30px;
  box-shadow: 5px 10px 14px 0px #07ACE64A; }

.footerBar {
  font-size: 16px;
  width: 100%;
  padding: 0.75em;
  margin-top: 35px;
  box-shadow: 0px -5px 40px 0px #00000033; }

.footerBar__text {
  display: inline-block;
  width: 60%;
  margin-bottom: 5px; }

.footerBar__text__title {
  display: inline-block;
  font-size: 26px;
  font-family: 'Raleway';
  margin-left: 0.25em;
  color: #08A6E4;
  font-weight: 300; }

.footerBar__text__copyright {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 11px;
  color: #A5A5A5;
  margin-left: 8px; }

.footerBar__socialMedia {
  width: 30%;
  display: inline-block;
  margin-left: 30px; }

.footerBar__socialMedia__facebook {
  margin-left: 15px; }

/*# sourceMappingURL=style.css.map */
