.third-section {
    background: #F7F7F7;
    margin-top: 2.81em;
    padding-top: 0.31em;
    padding-bottom: 3.12em;
}

.third__section--container {
    text-align: center;
    margin-left: 1.87em;
    margin-right: 1.87em;
    margin-top: 1.87em;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background: white;
}

.third-section__container--box {
    padding-bottom: 1.87em;
}

.third-section__container--box--2 {
    padding-top: 0.62em;
    padding-bottom: 1.87em;
}

.third__section__container--ellipse {
    position: absolute;
    margin-left: 5.62em;
}       

.third__section__container--img {
    position: relative;
    margin-top: 2.5em;
}

.third__section__container--ellipse--2 {
    position: absolute;
    margin-left: 30px;
}

.third__section__container--img--2 {
    position: relative;
    margin-top: 0;
    margin-left: 1.87em;
}

.third__section__objectTitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.87em;
    text-align: left;
    margin-left: 0.7em;
}

.third__section__objectText {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.87em;
    text-align: left;
    margin-top: 1.87em;
    margin-left: 1.25em;
    margin-bottom: 1.87em;
}

.third__section__objectTitle--last {
    margin-top: 1em;
}

.third__section__objectText--last {
    font-size: 1em;
    margin-top: 1.87em;
    margin-left: 1.25em;
    margin-bottom: 1.87em;
}

.third__section--end {
    background: #55DFB4;
    margin-left: 1.87em;
    margin-right: 1.87em;
    text-align: center;
    border: 1px solid #55DFB4;
    border-radius: 0.5em;
}

.third__section--img {
    position: relative;
    top: 1.87em;
    right: 0.93em;
}