.thirdSection {
    background: #F7F7F7;
    margin-top: 2.81em;
    padding-top: 0.31em;
    padding-bottom: 3.12em;
    &__container {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1.87em;
        border: 1px solid #E8E9ED;
        border-radius: 0.3em;
        background: white;
        &__box {
            padding-bottom: 1.87em;
            &--mod {
                padding-top: 0.62em;
                padding-bottom: 1.87em;
                margin-left: 2.5em;
            }
            &__ellipse1 {
                position: absolute;
                margin-left: 5.62em;
            }       
            &__ellipse2 {
                display: none;
                position: absolute;
                width: 45%;
                max-width: 30em;
                margin-top: 3.13em;
                margin-left: 1.9em;
                padding-bottom: 5.63em;
            }
            &__ellipse3 {
                position: absolute;
            }
            &__pc1 {
                position: relative;
                margin-top: 2.5em;
            }
            &__pc2 {
                display: none;
                position: relative;
                height: 60%;
                top: 39%;
            }
            &__iphone {
                position: relative;
                margin-left: 1.87em;
            }
        }
        &__object {
            width: 100%;
            &__title {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 1.87em;
                text-align: left;
                margin-left: 0.7em;
                &--last {
                    margin-top: 1em;
                }
            }
            &__text {
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 0.87em;
                text-align: left;
                margin-top: 1.87em;
                margin-left: 1.25em;
                margin-bottom: 1.87em;
                &--last {
                    font-size: 1em;
                    margin-top: 1.87em;
                    margin-left: 1.25em;
                    margin-bottom: 1.87em;
                }
            }
            &__separator {
                display: none;
                background: #FB3B64;
                padding: 0.06em;
                border-style: none;
                width: 76%;
            }
        }
    }
    &__containerMobile {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1.87em;
        border: 1px solid #E8E9ED;
        border-radius: 0.3em;
        background: white;
    }
    &__containerDesktop {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1.87em;
        border: 1px solid #E8E9ED;
        border-radius: 0.3em;
        background: white;
        display: none;
    }
    &__containerMobile2 {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1.87em;
        border: 1px solid #E8E9ED;
        border-radius: 0.3em;
        background: white;
    }
    &__containerDesktop2 {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1.87em;
        margin-bottom: 2.5em;
        border: 1px solid #E8E9ED;
        border-radius: 0.3em;
        background: white;
        display: none;
    }
    &__containerGreen {
        width: 80%;
        margin: auto;
        background: #55DFB4;
        text-align: center;
        border: 1px solid #55DFB4;
        border-radius: 0.5em;
        &__trumpet {
            position: relative;
            top: 1.87em;
            right: 0.93em;
        }
    }
}

/* FIRST BOX FROM THIRD SECTION */






/* SECOND BOX FROM THIRD SECTION */
/* mobile */    






/* desktop */


.thirdSection__container__box--mod {
    margin-top: 1.87em;
}

.thirdSection__container__ellipse3 {
    position: absolute;
    width: 22%;
    height: auto;
    max-width: 14em;
}

.thirdSection__containerDesktop__img__iphone2 {
    position: relative;
    width: 70%;
    top: 7%;
}

.thirdSection__object--mod {
    margin-top: 3.4em;
}

.thirdSection__objectTitle--mod {
    width: 66%;
}

.separator--blue {
    background: #08A6E4;
    width: 78%;
}

/* THIRD BOX FROM THIRD SECTION */
/* mobile */





/* desktop */


.thirdSection__objectTitle--mod2 {
    width: 72%;
}

.thirdSection__objectText--mod2{
    width: 77%;
}





.thirdSection__trumpet {
    display: none;
}

.thirdSection__green {
    background: red;
}

.leftBox {
    background: #fff;
    width: 60%;
    border-radius: 0.3em;
    border: 1px solid #E8E9ED;
}

.rightBox {
    background: #55DFB4;
    width: 34%;
    border-radius: 0.3em;
    border: 1px solid #E8E9ED;
}

.separator2 {
    width: 62%;
    background: #55DFB4;
    padding: 1px;
    border-style: none;
    margin-bottom: 3.12em;
    margin-left: 1.4em;
}

.thirdSection__trumpet {
    width: 90%;
    margin-top: 5em;
}